{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "python",
          "css",
          "markup",
          "javascript",
          "matlab",
          "java"
        ],
        "css": true
      }
    ]
  ],
  "presets": ["@babel/preset-react"]
}
