{
  "extends": ["prettier", "eslint:recommended", "react-app"],
  "plugins": [],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id", "__REDUX_DEVTOOLS_EXTENSION__"]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ]
  }
}
