.line-number {
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
  line-height: 20px;
  color: #545d68;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
}

/*.code-line {*/
/*  !*position: relative;*!*/
/*  !*padding-right: 10px;*!*/
/*  !*padding-left: 10px;*!*/
/*  !*line-height: 20px;*!*/
/*  !*vertical-align: top;*!*/
/*  !*background-color: aliceblue;*!*/
/*}*/

.code-line,
.token.operator,
.token.entity,
.token.url,
.language-css.token.string,
.style.token.string {
  background-color: aliceblue !important;
}

.container {
  border-spacing: 0;
  max-width: 800px;
  width: 90%;
  margin: 20px auto auto;
  box-sizing: border-box;
}
